# ignore list - full tutorial at github.com/github/gitignore
# try git rm --cached <file>. This will remove the file from remote, while --cached will retain it locally


# Ignoring specific directories
Module 1/.vscode
Module 1/CH02Exercise13.exe

Module 2/.vscode
Module 2/M2DiscussionErrors.exe
Module 2/M2DiscussionFixes.exe
Module 2/Ch03Exercise7.exe

Module 3/.vscode
Module 3/M3Discussion.exe
Module 3/M3DiscussionFixes.exe
Module 3/Ch04Exercise16.exe

Module 4/.vscode
Module 4/M4Discussion.exe
Module 4/M4DiscussionFixes.exe
Module 4/Ch05Exercise33.exe

Module 5/.vscode
Module 5/M5Discussion.exe
Module 5/M5DiscussionFixes.exe
Module 5/Ch06Exercise14.exe

Module 6/.vscode
Module 6/M6Discussion.exe
Module 6/M6DiscussionFixes.exe
Module 6/Ch07Exercise4.exe

Module 7/.vscode
Module 7/M7Discussion.exe
Module 7/M7DiscussionFixes.exe
Module 7/Ch08Exercise7.exe

Module 8/.vscode
Module 8/M8Discussion.exe
Module 8/M8DiscussionFixes.exe
Module 8/Ch04Exercise16.exe

Module 9/.vscode
Module 9/M9Discussion.exe
Module 9/M9DiscussionFixes.exe
Module 9/Ch11Exercise13.exe























