# ignore list - full tutorial at github.com/github/gitignore
# try git rm --cached <file>. This will remove the file from remote, while --cached will retain it locally


# Ignoring specific directories
Module 1/CH02Exercise13.exe
Module 1/.vscode

Module 2/M2DiscussionErrors.exe
Module 2/Ch03Exercise7.exe
Module 2/.vscode






